<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AquaTrack - Welcome</title>
<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div class="container">
      <div class="content">
        <div class="logo">
          <div class="drop"></div>
          <div class="drop"></div>
        </div>
        <h1>Thank You For Visiting</h1>
        <p>Stay hydrated and track your <br> daily water intake</p>
        <a href="/templates/login.html" class="button">Login</a>
      </div>
</div>
</body>
</html>
